<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MediList</display-name>
  <welcome-file-list>
			<welcome-file>index.html</welcome-file>
		</welcome-file-list>


		<servlet-mapping>
			<servlet-name>LoginServlet</servlet-name>
			<url-pattern>/Login</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>AddDoctor</servlet-name>
			<url-pattern>/AddDoctor</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>RemoveDoctor</servlet-name>
			<url-pattern>/Remove</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>MakeAppointment</servlet-name>
			<url-pattern>/Appointment</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>AcceptAppointment</servlet-name>
			<url-pattern>/AcceptAppointment</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>LogOut</servlet-name>
			<url-pattern>/LogOut</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Chart</servlet-name>
			<url-pattern>/Chart</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>GetChart</servlet-name>
			<url-pattern>/GetChart</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>EndSession</servlet-name>
			<url-pattern>/EndSession</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Register</servlet-name>
			<url-pattern>/Register</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ChartFile</servlet-name>
			<url-pattern>/ChartFile</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ViewReport</servlet-name>
			<url-pattern>/ViewReport</url-pattern>
		</servlet-mapping>
	
	
		<servlet>
			<servlet-name>LoginServlet</servlet-name>
			<servlet-class>com.cpe.LoginServlet</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>AddDoctor</display-name>
			<servlet-name>AddDoctor</servlet-name>
			<servlet-class>com.cpe.AddDoctor</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>RemoveDoctor</display-name>
			<servlet-name>RemoveDoctor</servlet-name>
			<servlet-class>com.cpe.RemoveDoctor</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<servlet-name>MakeAppointment</servlet-name>
			<servlet-class>com.cpe.MakeAppointment</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>AcceptAppointment</servlet-name>
			<servlet-class>com.cpe.AcceptAppointment</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>LogOut</display-name>
			<servlet-name>LogOut</servlet-name>
			<servlet-class>com.cpe.LogOut</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>Chart</display-name>
			<servlet-name>Chart</servlet-name>
			<servlet-class>com.cpe.Chart</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>GetChart</display-name>
			<servlet-name>GetChart</servlet-name>
			<servlet-class>com.cpe.GetChart</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>EndSession</display-name>
			<servlet-name>EndSession</servlet-name>
			<servlet-class>com.cpe.EndSession</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>Register</display-name>
			<servlet-name>Register</servlet-name>
			<servlet-class>com.cpe.Register</servlet-class>
		</servlet>
		<servlet>
		<description>
			</description>
			<display-name>ChartFile</display-name>
			<servlet-name>ChartFile</servlet-name>
			<servlet-class>com.cpe.ChartFile</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>ViewReport</display-name>
			<servlet-name>ViewReport</servlet-name>
			<servlet-class>com.cpe.ViewReport</servlet-class>
		</servlet>
</web-app>